<div class="server-gallary">
    <div style="background-image: url('https://img.freepik.com/free-photo/young-beautiful-female-posing-photo-shoot-studio-photographer-is-shooting-with-digital-camera_231208-14015.jpg?w=2000&t=st=1676712485~exp=1676713085~hmac=207f6e556c16e49e23edfbe77bc5d73edee6defe475bd7ff1930301c37eeb1da');"></div>
    <div style="background-image: url('https://img.freepik.com/free-photo/traveler-female-taking-pictures-with-digital-camera-tripod_613910-9831.jpg?w=1800&t=st=1676712622~exp=1676713222~hmac=478129b5f0852aa45efe6cf15c4298f80f53cdeb837e327b08c79c1ee3acb9a9');"></div>
    <div style="background-image: url('https://img.freepik.com/free-photo/photographer-taking-picture-while-looking-camera_158595-5716.jpg?w=2000&t=st=1676712694~exp=1676713294~hmac=fe26b5687ac16f21dc72864a93edb07f90ca26218fee7adfa9f0467d850a61f5');"></div>
    <div style="background-image: url('https://img.freepik.com/premium-photo/black-male-photographer-side-view_236854-43699.jpg?w=2000');"></div>
    <div style="background-image: url('https://img.freepik.com/free-photo/happy-female-photographer-checking-images-digital-camera-while-working-night-studio_637285-2602.jpg?w=2000&t=st=1676712911~exp=1676713511~hmac=52dee6821a32d60132595c7fe98fde0dbaeb182dd75edb05755beccd7a996761');"></div>
</div>

<style>
    div{ margin: 5px ;}
    .server-gallary{ display: flex; height: 20rem; gap: 1rem}
    .server-gallary > div{ flex: 2; border-radius: 1rem; background-position: center; background-repeat: no-repeat; background-size: auto 100%; transition: all .8s cubic-bezier(.25, 4, .45, 1.4);}
    .server-gallary > div:hover{ flex: 4;}
</style>

